<br>
<br>
<h1>Uploaded Latest Images</h1>

<div class="container">
	<div class="row">
		<% @photos.each do |photo|%>
			<div class="col-md-4 col-sm-6">
				<div class="product-grid2">
					<div class="product-image2">
						<%= image_tag photo.image.url, class: "pic-1" %>
					</div>
					<div class="product-content">
						<h3 class="title">
							<%= link_to photo.album.user.name, user_profile_path(photo.album.user.id), style: "color:blue;text-decoration: underline"%>
						</h3>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>
